.container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "left right";
    height: 89%;
    justify-items: center;
    align-items: center;
}
.grid-button {
    width: 98%;
    height: 97%;
    align-content: center;
}
.header-area {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 3px #000;
}
.left-button {
    grid-area: left;
}
.right-button {
    grid-area: right;
}
.main-Btn {
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 6px;
    /*align-items: center;*/
    width: 100%;
    height: calc(100% - 111px);
}