@font-face {
  font-family: 'MemomentKkukkukk';
  src: url('./assets/MemomentKkukkukk.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1024px;
  max-height: 768px;
  font-family: 'MemomentKkukkukk', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans KR', sans-serif;
}

#root {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: 80px auto;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-container {
  display: grid;
  row-gap: 8px;
  grid-template-areas:
    "title-bar"
    "sub-content";
  grid-template-rows: 82px auto;
  justify-items: center;
}

.title-bar {
  grid-area: title-bar;
  display: flex;
  align-items: center;
  justify-self: start;
  width: 100%;
}

.sub-content {
  grid-area: sub-content;
  width: 100%;
}

.sub-container-stats {
  display: grid;
  row-gap: 4px;
  grid-template-areas:
    "title-bar-stats"
    "kpi-bar-stats"
    "filter-bar-stats"
    "sub-content-stats";
  grid-template-rows: 86px auto auto auto;
  justify-items: center;
}

.title-bar-stats {
  grid-area: title-bar-stats;
  display: flex;
  align-items: center;
  justify-self: start;
  width: 100%;
}

.kpi-bar-stats {
  grid-area: kpi-bar-stats;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  width: 100%;
}

.filter-bar-stats {
  grid-area: filter-bar-stats;
  margin-bottom: 8px;
  width: 100%;
}

.sub-content-stats {
  grid-area: sub-content-stats;
  width: 100%;
}

.filter-bar-left-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom : 8px;
}

.filter-bar-right-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  
}
