html {
    box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #d1d1d1;
    height: 100%;
}
#root {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header header"
        "left right";
    height: 100%;
    justify-items: center;
    align-items: center;
}
